.accordion {
    font: 14px/1.5 Tahoma, Arial, sans-serif;
}

.accordion ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.accordion > ul ul {
    display: none;
}

.accordion .itemshow {
    display: block;
}

.accordion ul li {
    text-indent: 1.6em;
    white-space: nowrap;
}

.accordion ul li .menuitem {
    display: block;
    outline: none;
    height: 30px;
    line-height: 30px;
    margin: 1px 0;
    color: #fff;
    text-decoration: none;
    position: relative;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: default;
}

.accordion ul li .menuitem > i {
    margin-right: 4px;
    display: inline;
    position: relative;
    color: inherit;
}

.accordion ul li .menuitem > i.noicon {
    display: inline-block;
    width: 14px;
}

.accordion ul li .menuitem.submenu::after {
    content: "";
    display: inline-block;
    border: 6px solid;
    width: 0;
    height: 0;
    transition: transform .5s;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    right: 4px;
    top: 8px;
}

.accordion ul li .menuitem.submenu {
    padding-right: 1.5em;
}

.accordion ul li .menuitem:not(.submenu) {
    padding-right: 10px;
}

.accordion ul li .menuitem.submenu.iconopen::after {
    border-width: 6px;
    right: 6px;
    border-color: #fff transparent transparent transparent;
}

.accordion ul li .menuitem.activeitem::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    border: 15px solid;
    border-color: transparent transparent transparent #ffff00;
    background: transparent;
}

.accordion ul li .menuitem.activeitem {
    color: #ffff00;
}

.accordion ul li .menuitem:hover {
    color: #ffff00;
    opacity: 0.8;
}





